<div class="form-group">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="Ex: ..." onchange="montarReq(this,false)" required />
</div>

<div class="form-group">
  <label for="password">Password</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Ex: ..." onchange="montarReq(this,false)" />
</div>

<div class="form-group">
  <label for="birthday">Birthday</label>
  <input type="date" id="birthday" name="birthday" class="form-control" onchange="montarReq(this,false)" />
</div>

<div class="form-group">
  <label for="age">Age</label>
  <input type="number" id="age" name="age" class="form-control" min="0" max="200" placeholder="Ex: ..." onchange="montarReq(this,false)" />
</div>

<div class="form-group">
  <label for="profession">Profession</label>
  <select name="profession" id="profession" class="form-control" onchange="montarReq(this,false)">
    <option>A</option>
    <option>b</option>
    <option> C</option>
  </select>
</div>

<label for="div_gender">Gender</label>
<div class="form-group" id="div_gender">
  <div class="form-check form-check-inline">
    <input type="radio" id="male" name="gender" value="male" class="form-check-input" onchange="montarReq(this,false)">
    <label class="form-check-label" for="male">Male</label>
  </div>

  <div class="form-check form-check-inline">
    <input type="radio" id="_female" name="gender" value="_female" class="form-check-input" onchange="montarReq(this,false)">
    <label class="form-check-label" for="_female"> Female</label>
  </div>

  <div class="form-check form-check-inline">
    <input type="radio" id="_other" name="gender" value="_other" class="form-check-input" onchange="montarReq(this,false)">
    <label class="form-check-label" for="_other"> Other</label>
  </div>
</div>